<form action="/stores/add" method="POST">
  <input type="number" name="num_local" placeholder="Numero de Local">
  <input type="text" name="nombre_local" placeholder="Nombre de Local">

  <label for="miLista">Formato:</label>
    <select id="miLista" name="formato">
        <option value="maxi">maxi</option>
        <option value="hiper">hiper</option>
        <option value="market">market</option>
        <option value="express">express</option>
        <option value="plataforma">plataforma</option>
        <option value="ecommerce">ecommerce</option>        
    </select>
  <input type="text" name="telefono" placeholder="Telefono">
  <input type="text" name="ciudad" placeholder="Ciudad">
  <input type="text" name="direccion" placeholder="Direccion">

  <button type="submit">
    Guardar
  </button>

</form>